
<div class="container">
    <div class="create-new">
      <span>ایجاد بیمه جدید</span>
      <mat-icon title="ایجاد بیمه جدید"  (click)='showCreateForm()'> library_add </mat-icon>
      </div>
  
      <div *ngIf='createForm'>
      <mat-form-field >
        <mat-label>نام</mat-label>
        <input matInput name='createInsuranceCompany.name' [(ngModel)] = 'createInsuranceCompany.name'>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>نام انگلیسی</mat-label>
        <input matInput name='createInsuranceCompany.name_en' [(ngModel)] = 'createInsuranceCompany.name_en' >
      </mat-form-field>

      <mat-form-field >
        <mat-label> نوع بیمه</mat-label>
        <mat-select  matInput [(ngModel)] = 'createInsuranceCompany.type' >
          <mat-option [value]="'supplementary'"  name='createInsuranceCompany.type' >
          دولتی
          </mat-option>
          <mat-option [value]="'normal'" name='createInsuranceCompany.type' > 
            خصوصی
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon title= 'ایجاد' class="black-color" (click)='create(createInsuranceCompany)'> check </mat-icon>
       
    </div>
     
  
  
     <h1>{{ title }}</h1>
  <table mat-table [dataSource]="InsuranceCompanies" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> شماره </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> نام </th>
      <td mat-cell *matCellDef="let element">  
        <span *ngIf = '!element.is_editable'>
          {{element.name}} 
        </span>    
        <div *ngIf ='element.is_editable'>
          <mat-form-field>
            <input matInput type="text"  name={{element.name}}  [(ngModel)] = 'element.name'>
          </mat-form-field>
         </div>
      </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name_en">
      <th mat-header-cell *matHeaderCellDef> نام انگلیسی </th>
        <td  mat-cell *matCellDef="let element"> 
          <span *ngIf = '!element.is_editable'>
            {{element.name_en}} 
          </span>    
          <div *ngIf ='element.is_editable'>
            <mat-form-field>
              <input matInput type="text"  name={{element.name_en}}  [(ngModel)] = 'element.name_en'>
            </mat-form-field>
           </div>
        </td>
    </ng-container>


    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> نوع بیمه  </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{ element.type === 'supplementary' ? 'دولتی' : 'خصوصی ' }}        
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <mat-select [(ngModel)] = 'element.type'>
                  <mat-option  value='supplementary' >
                     دولتی
                  </mat-option>
                  <mat-option  value='normal' >
                   خصوصی
                </mat-option>
                  </mat-select>
              </mat-form-field>
             </div>
          </td>
      </ng-container>
  
    
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> تاریخ ساخت </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> تغییر </th>
       <td mat-cell *matCellDef="let element" id= {{element.id}}> 
         <div *ngIf='!element.is_editable'>
          <mat-icon (click)='onEdit(element)'> edit </mat-icon>
         </div>
         <div *ngIf='element.is_editable'>
          <mat-icon (click)='update(element)'> check </mat-icon>
         </div>
       </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> حذف </th>
      <td mat-cell *matCellDef="let element" id= {{element.id}} >
        <div *ngIf='!element.is_editable'>
         <mat-icon (click)='onDelete(element.id)'> delete </mat-icon> 
        </div>
        <div *ngIf='element.is_editable'>
          <mat-icon (click)='cancelEdit(element)'> cancel </mat-icon> 
        </div>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>