<mat-card>
    <mat-card-title>صفحه‌ی ورود</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="نام کاربری" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="رمز عبور" formControlName="password">
    </mat-form-field>
  </p>

 
  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button>ورود</button>
  </div>

</form>
</mat-card-content>
</mat-card>