<div class="container">
    <div class="create-new">
      <span>ساخت مرکز جدید</span>
      <mat-icon title="ساخت مرکز جدید"  (click)='showCreateForm()'> library_add </mat-icon>
      </div>
      <div *ngIf='createForm'>

          <mat-form-field>
            <mat-label>نوع مرکز</mat-label>
           <mat-select [(ngModel)] = 'createCenter.type_id' [(value)]="createCenter.type_id">
             <mat-option *ngFor='let center_type of this.CenterTypes' value='{{center_type.id}}' >
                 {{ center_type.name }}
             </mat-option>
             </mat-select>
          </mat-form-field>  
          
      <mat-form-field >
        <mat-label>نام</mat-label>
        <input matInput name='createCenter.name' [(ngModel)] = 'createCenter.name'>
      </mat-form-field>
  
      
      <mat-form-field>
        <mat-label>سایت</mat-label>
        <input matInput name='createCenter.site' [(ngModel)] = 'createCenter.site' >
      </mat-form-field>


      <mat-form-field>
        <mat-label>مسول فنی</mat-label>
        <input matInput name='createCenter.technical_manager_name' [(ngModel)] = 'createCenter.technical_manager_name' >
      </mat-form-field>


      <mat-form-field>
        <mat-label>منطقه</mat-label>
        <input matInput name='createCenter.area' [(ngModel)] = 'createCenter.area' >
      </mat-form-field>
      


      <mat-form-field>
        <mat-label>نام محل </mat-label>
        <input matInput name='createCenter.area_name' [(ngModel)] = 'createCenter.area_name' >
      </mat-form-field>
      

      <mat-form-field>
        <mat-label>تخفیف </mat-label>
        <input matInput name='createCenter.discount' [(ngModel)] = 'createCenter.discount' >
      </mat-form-field>
      

      <mat-form-field>
        <mat-label> رضایت مندی </mat-label>
        <input matInput name='createCenter.satisfaction' [(ngModel)] = 'createCenter.satisfaction' >
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>   ساعت کاری </mat-label>
        <mat-select [(ngModel)] = 'createCenter.hours_of_work_id' [(value)]="createCenter.hours_of_work_id">
          <mat-option *ngFor='let hours_of_work of this.HoursOfWorks' value='{{hours_of_work.id}}' >
              {{ hours_of_work.id }}
          </mat-option>
          </mat-select>
       </mat-form-field> 
      

      <mat-form-field>
        <mat-label> حالت مرکز </mat-label>
        <mat-select [(ngModel)] = 'createCenter.governmental_type'>
          <mat-option  value='governmental' >
             دولتی
          </mat-option>
          <mat-option  value='private' >
           خصوصی
        </mat-option>
          </mat-select>
      </mat-form-field>
      

      <mat-form-field>
        <mat-label> عرض جغرافیایی </mat-label>
        <input matInput name='createCenter.latitude' [(ngModel)] = 'createCenter.latitude' >
      </mat-form-field>
      

      <mat-form-field>
        <mat-label> طول جغرافیایی </mat-label>
        <input matInput name='createCenter.longitude' [(ngModel)] = 'createCenter.longitude' >
      </mat-form-field>

        <label>
          <mat-label> لوگو</mat-label>
          <input  type="file" (change)="setLogo($event)" style="display:none" multiple/>
          <a mat-raised-button color="primary">
            <mat-icon>file_upload</mat-icon>
           آپلود عکس
          </a>
        </label> 
      

      <mat-form-field>
        <mat-label> استان</mat-label>
        <mat-select [(ngModel)] = 'createCenter.province_id'  (selectionChange)="getCities(createCenter.province_id)" [(value)]="createCenter.province_id">
          <mat-option  *ngFor='let province of this.Provinces' value='{{province.id}}'> 
          {{ province.name }}
          </mat-option>
          </mat-select>
       </mat-form-field> 

       <mat-form-field>
        <mat-label> شهر</mat-label>
        <mat-select [(ngModel)] = 'createCenter.city_id' [(value)]="createCenter.city_id" >
          <mat-option  *ngFor='let city of this.Cities' value='{{city.id}}' > 
          {{ city.name }}
          </mat-option>
          </mat-select>
       </mat-form-field>  
      <mat-icon title= 'ایجاد' class="black-color" (click)='create(createCenter)'> check </mat-icon>
    </div>
     
  
  
   <h1>{{ title }}</h1>
  <table mat-table [dataSource]="Centers" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> شماره </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  

    <ng-container matColumnDef="center_type">
      <th mat-header-cell *matHeaderCellDef>  نوع مرکز</th>  
      <td  mat-cell *matCellDef="let element"> 
        <div *ngIf='!element.is_editable'>
          {{element.center_type.name}}  
        </div>    
        <div *ngIf='element.is_editable'>
        <mat-form-field>
         <mat-select [(ngModel)] = 'element.type_id' [(ngModel)] = 'element.center_type.name'>
           <mat-option *ngFor='let center_type of this.CenterTypes' value='{{center_type.id}}' >
               {{ center_type.name }}
           </mat-option>
           </mat-select>
        </mat-form-field>  
      </div>
    </td>
    </ng-container>

    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> نام </th>
      <td mat-cell *matCellDef="let element">  
        <span *ngIf = '!element.is_editable'>
          {{element.name}} 
        </span>    
        <div *ngIf ='element.is_editable'>
          <mat-form-field>
            <input matInput type="text"  name={{element.name}}  [(ngModel)] = 'element.name'>
          </mat-form-field>
         </div>
      </td>
    </ng-container>
  
    
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>  سایت </th>
        <td  mat-cell *matCellDef="let element"> 
          <span *ngIf = '!element.is_editable'>
            {{element.site}} 
          </span>    
          <div *ngIf ='element.is_editable'>
            <mat-form-field>
              <input matInput type="text"  name={{element.site}}  [(ngModel)] = 'element.site'>
            </mat-form-field>
           </div>
        </td>
    </ng-container>


    <ng-container matColumnDef="technical_manager_name">
        <th mat-header-cell *matHeaderCellDef>  مسول فنی </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.technical_manager_name}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.technical_manager_name}}  [(ngModel)] = 'element.technical_manager_name'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> منطقه </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.area}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.area}}  [(ngModel)] = 'element.area'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>



      <ng-container matColumnDef="area_name">
        <th mat-header-cell *matHeaderCellDef> نام محل</th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.area_name}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.area_name}}  [(ngModel)] = 'element.area_name'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> تخفیف </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.discount}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.discount}}  [(ngModel)] = 'element.discount'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>

      
      <ng-container matColumnDef="satisfaction">
        <th mat-header-cell *matHeaderCellDef> رضایت مندی </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.satisfaction}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.satisfaction}}  [(ngModel)] = 'element.satisfaction'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="hours_of_work_id">
        <th mat-header-cell *matHeaderCellDef> ساعت کاری </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.hours_of_work_id}} 
            </span>    
             <div *ngIf='element.is_editable'>
              <mat-form-field>
               <mat-select [(ngModel)] = 'element.hours_of_work_id'>
                 <mat-option *ngFor='let hours_of_work of this.HoursOfWorks' value='{{hours_of_work.id}}' >
                     {{ hours_of_work.id }}
                 </mat-option>
                 </mat-select>
              </mat-form-field>  
            </div>
          </td>
      </ng-container>



      <ng-container matColumnDef="governmental_type">
        <th mat-header-cell *matHeaderCellDef>حالت مرکز </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{ element.governmental_type === 'governmental' ? 'دولتی' : 'خصوصی ' }}        
            </span> 
             <div *ngIf='element.is_editable'>
              <mat-form-field>
               <mat-select [(ngModel)] = 'element.governmental_type'>
                 <mat-option  value='governmental' >
                    دولتی
                 </mat-option>
                 <mat-option  value='private' >
                  خصوصی
               </mat-option>
                 </mat-select>
              </mat-form-field>  
            </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> عرض جغرافیایی </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.latitude}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.latitude}}  [(ngModel)] = 'element.latitude'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> طول جغرافیایی </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.longitude}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.longitude}}  [(ngModel)] = 'element.longitude'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef>  لوگو </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
            <a  href="#" (click)="Download(element.logo, 'logo')"  >
             دانلود
            </a>
            </span>    
            <div *ngIf ='element.is_editable'>
              <label>
                <mat-label> لوگو</mat-label>
                <input  type="file" (change)="setLogo($event)"  style="display:none" multiple/>
                <a mat-raised-button color="primary">
                  <mat-icon>file_upload</mat-icon>
                 آپلود عکس
                </a>
              </label> 
             </div>
          </td>
      </ng-container>


      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>  کشور </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.country.name}} 
            </span>    
            <div *ngIf ='element.is_editable'>
              <mat-form-field>
                <input matInput type="text"  name={{element.country.name}}  [(ngModel)] = 'element.country.name'>
              </mat-form-field>
             </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef>  استان </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.province.name}} 
            </span>    
             <div *ngIf='element.is_editable'>
              <mat-form-field>
               <mat-select [(ngModel)] = 'element.province_id' [(ngModel)] = 'element.province.name' (selectionChange)="getCities(element.province_id)">
                 <mat-option  *ngFor='let province of this.Provinces' value='{{province.id}}'> 
                 {{ province.name }}
                 </mat-option>
                 </mat-select>
              </mat-form-field>  
            </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>  شهر </th>
          <td  mat-cell *matCellDef="let element"> 
            <span *ngIf = '!element.is_editable'>
              {{element.city.name}} 
            </span>  
            <div *ngIf='element.is_editable'>
              <mat-form-field>
               <mat-select [(ngModel)] = 'element.city_id' [(ngModel)] = 'element.city.name'>
                 <mat-option  *ngFor='let city of this.Cities' value='{{city.id}}' > 
                 {{ city.name }}
                 </mat-option>
                 </mat-select>
              </mat-form-field>  
            </div>  
          </td>
      </ng-container>

      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef>  عکسهای مرکز  <mat-icon  class="delete-phone"   (click)="toggleColumn('images')">remove_red_eye</mat-icon> </th>
          <td  mat-cell *matCellDef="let element"> 
         <div *ngIf='showImagesColumns'>
            <div *ngFor="let image of element.images"> 
            <a   href="#" (click)="Download(image.path, 'center_img')">
              دانلود
              <!-- {{image.path}}  -->
            </a> 
            <mat-icon title='پاک کردن عکس'  (click) = 'deleteImage(image)'>close</mat-icon>
          </div>  
          <label>
            <input type="file" (change)="addImage(element.id, $event)" style="display:none" multiple/>
            <a mat-raised-button color="primary">
              <mat-icon>file_upload</mat-icon>
             آپلود عکس
            </a>
          </label>   
        </div>
        <div *ngIf='!showImagesColumns'>
          <mat-icon (click)="toggleColumn('images')">remove_red_eye</mat-icon>
        </div>     
          </td>
      </ng-container>

      <ng-container matColumnDef="phones">
        <th mat-header-cell *matHeaderCellDef>  تلفنهای مرکز <mat-icon class="delete-phone" (click)="toggleColumn('phones')">remove_red_eye</mat-icon>  </th>
          <td  mat-cell *matCellDef="let element"> 
            <div *ngIf='showPhoneColumns'>
            <div *ngFor="let phone of element.phones"> 
            <span>
              {{phone.phone}} 
            </span> 
            <mat-icon class="delete-phone" title='پاک کردن تلفن'  (click) = 'deletePhone(phone)'>close</mat-icon>
            <br>
          </div> 
          <mat-icon title='اضافه کردن تلفن' (click)="editPhone(element)">add</mat-icon>
          <div *ngIf='element.phone_editable'>
          <mat-form-field>
            <input matInput name='createPhone.phone' [(ngModel)] = 'createPhone.phone' placeholder="تلفن">
          </mat-form-field>  
          <mat-icon class="delete-phone" (click)="addPhone(createPhone, element.id)">check</mat-icon>
        </div>
      </div>
      <div *ngIf='!showPhoneColumns'><mat-icon (click)="toggleColumn('phones')">remove_red_eye</mat-icon></div>
          </td>
      </ng-container>

      <ng-container matColumnDef="addresses">
        <th mat-header-cell *matHeaderCellDef>  آدرسهای مرکز  <mat-icon class="delete-phone" (click)="toggleColumn('addresses')">remove_red_eye</mat-icon></th>  
        <td  mat-cell *matCellDef="let element"> 
          <div *ngIf='showAddressesColumns'>
            <div *ngFor="let address of element.addresses"> 
            <span>
              {{address.address}}  
              'محله:' {{ address.neighbourhood}}
            </span> 
            <mat-icon class="delete-phone" title='پاک کردن آٔٔدرس'  (click) = 'deleteAddress(address)'>close</mat-icon>
            <br>
          </div> 
          <mat-icon title='اضافه کردن آدرس' (click)="editAddress(element)">add</mat-icon>
          <div *ngIf='element.address_editable'>
          <mat-form-field>
            <input matInput name='createAddress.address' [(ngModel)] = 'createAddress.address' placeholder="آٔدرس">
          </mat-form-field>  
          <mat-form-field>
          <input matInput name='createAddress.neighbourhood' [(ngModel)] = 'createAddress.neighbourhood' placeholder="محله">
        </mat-form-field>
          <mat-icon class="delete-phone" (click)="addAddress(createAddress, element.id)">check</mat-icon>
        </div>
      </div>

      <div *ngIf='!showAddressesColumns'>
        <mat-icon class="delete-phone" (click)="toggleColumn('addresses')">remove_red_eye</mat-icon>
      </div>
      </td>
      </ng-container>

      <ng-container matColumnDef="special_tests">
        <th mat-header-cell *matHeaderCellDef>  تستهای خاص مرکز  <mat-icon class="delete-phone" (click)="toggleColumn('special_tests')">remove_red_eye</mat-icon></th>  
        <td  mat-cell *matCellDef="let element"> 
          <div *ngIf='showSpecialTestsColumns'>
            <div *ngFor="let special_test of element.special_tests"> 
            <span>
              {{special_test.name}}  
            </span> 
            <mat-icon class="delete-phone" title='پاک کردن تستهای خاص'  (click) = 'deleteSpecialTestCenter(special_test.pivot)'>close</mat-icon>
            <br>
          </div> 
          <mat-icon title='اضافه کردن تستهای خاص' (click)="editSpecialTestCenter(element)">add</mat-icon>
          <div *ngIf='element.special_test_center_editable'>
          <mat-form-field>
           <mat-select [(ngModel)] = 'pivot_id'>
             <mat-option *ngFor='let special_test of this.SpecialTests' value='{{ special_test.id}}' >
                 {{ special_test.name }}
             </mat-option>
             </mat-select>
          </mat-form-field>  
          <mat-icon class="delete-phone" (click)="addSpecialTestCenter(pivot_id, element.id)">check</mat-icon>
        </div>
      </div>

      <div *ngIf='!showSpecialTestsColumns'>
        <mat-icon class="delete-phone" (click)="toggleColumn('special_tests')">remove_red_eye</mat-icon>
      </div>
      </td>
      </ng-container>

      <ng-container matColumnDef="insurance_companies">
        <th mat-header-cell *matHeaderCellDef>  بیمه‌های مرکز  <mat-icon class="delete-phone" (click)="toggleColumn('insurance_companies')">remove_red_eye</mat-icon></th>  
        <td  mat-cell *matCellDef="let element"> 
          <div *ngIf='showInsuranceCompaniesColumns'>
            <div *ngFor="let insurance_company of element.insurance_companies"> 
            <span>
              {{insurance_company.name}}  
            </span> 
            <mat-icon class="delete-phone" title='پاک کردن بیمه'  (click) = 'deleteInsuranceCompanyCenter(insurance_company.pivot)'>close</mat-icon>
            <br>
          </div> 
          <mat-icon title='اضافه کردن بیمه ' (click)="editInsuranceCompanyCenter(element)">add</mat-icon>
          <div *ngIf='element.insurance_company_center_editable'>
          <mat-form-field>
           <mat-select [(ngModel)] = 'pivot_id'>
             <mat-option *ngFor='let insurance_company of this.InsuranceCompanies' value='{{ insurance_company.id}}' >
                 {{ insurance_company.name }}
             </mat-option>
             </mat-select>
          </mat-form-field>  
          <mat-icon class="delete-phone" (click)="addInsuranceCompanyCenter(pivot_id, element.id)">check</mat-icon>
        </div>
      </div>

      <div *ngIf='!showInsuranceCompaniesColumns'>
        <mat-icon class="delete-phone" (click)="toggleColumn('insurance_companies')">remove_red_eye</mat-icon>
      </div>
      </td>
      </ng-container> 

      <ng-container matColumnDef="doctors">
        <th mat-header-cell *matHeaderCellDef>  دکترهای مرکز  <mat-icon class="delete-phone" (click)="toggleColumn('doctors')">remove_red_eye</mat-icon></th>  
        <td  mat-cell *matCellDef="let element"> 
          <div *ngIf='showDoctorsColumns'>
            <div *ngFor="let doctor of element.doctors"> 
            <span>
              {{doctor.name}}  
            </span> 
            <mat-icon class="delete-phone" title='پاک کردن دکتر'  (click) = 'deleteDoctorCenter(doctor.pivot)'>close</mat-icon>
            <br>
          </div> 
          <mat-icon title='اضافه کردن دکتر ' (click)="editDoctorCenter(element)">add</mat-icon>
          <div *ngIf='element.doctor_center_editable'>
          <mat-form-field>
           <mat-select [(ngModel)] = 'pivot_id'>
             <mat-option *ngFor='let doctor of this.Doctors' value='{{ doctor.id}}' >
                 {{ doctor.name }}
             </mat-option>
             </mat-select>
          </mat-form-field>  
          <mat-icon class="delete-phone" (click)="addDoctorCenter(pivot_id, element.id)">check</mat-icon>
        </div>
      </div>

      <div *ngIf='!showDoctorsColumns'>
        <mat-icon class="delete-phone" (click)="toggleColumn('doctors')">remove_red_eye</mat-icon>
      </div>
      </td>
      </ng-container> 
    
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef> تاریخ ساخت </th>
      <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> تغییر </th>
       <td mat-cell *matCellDef="let element" id= {{element.id}}> 
         <div *ngIf='!element.is_editable'>
          <mat-icon (click)='onEdit(element)'> edit </mat-icon>
         </div>
         <div *ngIf='element.is_editable'>
          <mat-icon (click)='update(element)'> check </mat-icon>
         </div>
       </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> حذف </th>
      <td mat-cell *matCellDef="let element" id= {{element.id}} >
        <div *ngIf='!element.is_editable'>
         <mat-icon (click)='onDelete(element)'> delete </mat-icon> 
        </div>
        <div *ngIf='element.is_editable'>
          <mat-icon (click)='cancelEdit(element)'> cancel </mat-icon> 
        </div>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>