<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <mat-toolbar>
        <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
</button>
        <span>{{title}}</span>
    </mat-toolbar>
    <mat-progress-bar mode='indeterminate' *ngIf='loading'></mat-progress-bar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav='matSidenav' position="end">
            <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
                <mat-icon>house</mat-icon>
                <span>مراکز درمانی</span>
            </button>
            <mat-menu #menu="matMenu">
                <button routerLink="/" mat-menu-item (click)="sidenav.toggle()">لیست مراکز</button>
                <button routerLink="/center-type" mat-menu-item (click)="sidenav.toggle()">ساخت انواع مراکز</button>
                <button routerLink="/insuurance-company" mat-menu-item (click)="sidenav.toggle()">ساخت بیمه های طرف قرار داد</button>
                <button routerLink="/special-test" mat-menu-item (click)="sidenav.toggle()">ساخت تست های مخصوص</button>
            </mat-menu>
            <mat-divider></mat-divider>
            <button mat-button class=" menu-button">
                <mat-icon>person</mat-icon>
                <span>پزشکان</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z4 ">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
</html>