    body {
        font-family: 'iranyekan', serif;
        direction: rtl;
        font-family: 'iranyekan', serif;
        direction: rtl;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        overflow: auto;
    }

    input {
        font-size: 1rem;
    }
    button {
        font-family: 'iranYekan';
    }

    a {
        cursor: pointer;
        color: #004a9f;
    }

    textarea {
        width: 100%;
    }


    mat-form-field {
        text-align: right;
        /* width: 15%; */
        /* font-size: 1.5rem; */
        margin: 0 36px;
        color: black;
    }

    .snack-bar-container-custom  {
        font-family: 'iranYekan'!important;
        background-color: red!important;
    }

    .black-color {
        color: black;
    }

    .create-new {
        text-align: right; color: black;
    }

    .dialog-content-container {
        direction: rtl;
    }
    
    * {
        font-family: 'iranyekan';
    }
    
    h1 {
        font-family: 'iranyekan'!important;
    }
    
    mat-icon {
        font-family: 'Material Icons';
    }
    
    mat-toolbar {
        font-family: 'iranyekan';
        background: #004a9f;
        color: white;
        padding: 16px;
    }
    
    mat-sidenav {
        font-family: 'iranyekan';
        margin: 16px;
        width: 200px;
        border-right: none;
        background: #002b5c!important;
        color: white!important;
        border-radius: 10px;
        padding: 16px;
        text-align: center;
    }
    
    mat-sidenav button {
        font-family: 'iranyekan';
        color: white!important;
        background: #002b5c!important;
    }
    
    mat-sidenav-container {
        height: calc(100vh - 65px);
    }
    
    .content {
        font-family: 'iranyekan';
        height: calc(100vh - 98px);
        margin: 16px;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: lightgray;
        border-radius: 10px;
    }
    
    .menu-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;
    }
    
    mat-divider {
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: white;
    }


    *, h1 {
        font-family: 'iranyekan';
    }
    
    table {
        width:2500px !important;
        text-align: center;
        height: 100%;
    }
    
    td, tr, th {
        text-align: center!important;
       
    }

   

    :host(app-center) {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        overflow: auto;
        overflow-x: auto;
}


 :host(app-center-type) {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        overflow: auto;
}

:host(app-insurance-company) {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}

:host(app-special-test) {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}

:host(app-college) {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}

:host(app-specialty) {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}

:host(app-hours-of-work) {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}

mat-icon {
    font-family: 'Material Icons';
   cursor: pointer;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
}


.inputWrapper {
    font-size: 2rem;
    color: white;
    width: 64px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #004a9f;
    margin: auto;
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.delete-phone {
    vertical-align: middle;
}